PORT=8311
CORS_ORIGINS=http://localhost:5173,http://localhost:8311

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=nucestatic_terminal

JWT_SECRET=uvBnrBl5jAEoGo0UQUrl6DbOy-H1ChX26i_qDggSq08fgtb16QdU6ti9Mko-ce8oIelXmA-CIdkRf0SY4aKpGA
JWT_ALGORITHM=HS256
JWT_EXPIRATION_HOURS=24
